@charset "utf-8";
/* CSS Document */

.ahista{
-webkit-transition: all 2000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
   -moz-transition: all 2000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 2000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -o-transition: all 2000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 2000ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */

-webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -o-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */		 
}

.Vahista{
-webkit-transition: all 5000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
   -moz-transition: all 5000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 5000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -o-transition: all 5000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 5000ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */

-webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -o-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */		 
}


@-webkit-keyframes bgAppear {
0%  { -webkit-opacity:0;opacity:0;  }
10%  { -webkit-opacity:0;opacity:0; }
20%  { -webkit-opacity:0;opacity:0; }
30%  { -webkit-opacity:0;opacity:0;  }
40%  { -webkit-opacity:0;opacity:0;  }
50%  { -webkit-opacity:0;opacity:0;  }
60%  { -webkit-opacity:0.2;opacity:0.2;   }
70%  { -webkit-opacity:0.3;opacity:0.3;  }
80%  { -webkit-opacity:0.5;opacity:0.5; }
80%  { -webkit-opacity:0.7;opacity:0.7;  }
100%  { -webkit-opacity:1;opacity:1;  }
  }
@-moz-keyframes bgAppear {
0%  { -webkit-opacity:0;opacity:0;  }
10%  { -webkit-opacity:0;opacity:0; }
20%  { -webkit-opacity:0;opacity:0; }
30%  { -webkit-opacity:0;opacity:0;  }
40%  { -webkit-opacity:0;opacity:0;  }
50%  { -webkit-opacity:0;opacity:0;  }
60%  { -webkit-opacity:0.2;opacity:0.2;   }
70%  { -webkit-opacity:0.3;opacity:0.3;  }
80%  { -webkit-opacity:0.5;opacity:0.5; }
80%  { -webkit-opacity:0.7;opacity:0.7;  }
100%  { -webkit-opacity:1;opacity:1;  }
  }

.blink {
	-webkit-animation: blinkAni 0.5s linear 1 ; /* Saf5, Chrome */
	-moz-animation: blinkAni 0.5s linear 1; /* FF5+ */
	}
.blink_continous{
	-webkit-animation: blinkAni 0.5s linear infinite ; /* Saf5, Chrome */
	-moz-animation: blinkAni 0.5s linear infinite; /* FF5+ */
	}
.blink_continous_slow{
	-webkit-animation: blinkAni 1.3s linear infinite alternate ; /* Saf5, Chrome */
	-moz-animation: blinkAni 1.3s linear infinite alternate; /* FF5+ */
	}
.blink_loading {
	-webkit-animation: blinkAni 4.3s linear infinite alternate ; /* Saf5, Chrome */
	-moz-animation: blinkAni 4.3s linear infinite alternate; /* FF5+ */
	}
	
@-webkit-keyframes blinkAni {
	0% {opacity:0;-webkit-opacity:0;}
	25% {opacity:1;-webkit-opacity:1;}
	50% {opacity:0;-webkit-opacity:0;}
	100% {opacity:1;-webkit-opacity:1;}
}
@-moz-keyframes blinkAni {
	0% {opacity:0;}
	25% {opacity:1;}
	50% {opacity:0;}
	100% {opacity:1;}
}


