@charset "utf-8";
/* CSS Document */
body{
	margin: 0 auto;
	cursor: url(../imgs/cursor.png), auto;
	font-family:'Hel';
	font-size:16px;
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:black;
	}
span::selection {
	background: transparent; /* Safari */
	}
span::-moz-selection {
	background: transparent; /* Firefox */
}
div::selection {
	background: transparent; /* Safari */
	}
div::-moz-selection {
	background: transparent; /* Firefox */
}
	
label{
	cursor: url(../imgs/cursor.png), auto;
	float:left;
}
input{
	cursor: url(../imgs/cursor.png), auto;
}
	
	
.stretchBG{
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
-webkit-background-size: 100% 100%; 
background-size: 100% 100%;
	}
	
.glow {
	text-shadow:0 0 13px rgba(255,144,0,0.8), 0 0 8px rgba(255,144,0,0.8);
	color:rgba(255,255,255,0.8);
	}
.glowSmall{
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 2px #FF9000;
		}
.inner{
	width:100%;
	height:100%;
	position:absolute;}

.scene{
	background-color:black;
    color: white;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
	z-index:1;
	display:none;
	overflow:hidden;
	}


/*New for this file*/
.mid{
	margin:0 auto;
	}
#title-2{
	background-image:url(../imgs/title2.png);
	width:46.46%;
	height:16.69%;
	position:relative;
	z-index:2;
	display:block;
	top: 37.5%; 
	}
	
#butt {
	background-image:url(../imgs/button.png);
	width: 27.91%;
	height: 7.93%;
	top: 53.57%;
	position: relative;
	z-index:2;
	display:block;
	/*cursor:url(../imgs/hand.png), auto*/
}
	
.goldDot{
	position:absolute; width:6px; height:6px; background-image:url(../imgs/goldDot.png);
	display:none;
	}
	

.dialogueWhite{
	color: white;
	text-shadow:0px 2px 0px #000000;
	position:absolute;
	z-index:100;
	width:70%;
	height: 50px;
	left:15%;
	bottom: 6%;
	text-align:center;
	}
.dialogueGold{
	/*color: rgba(255, 255, 255, 0.8);
	color:#FF9000;*/
	color: #ffc67b;
    text-shadow:0px 2px 0px #000000;
	position:absolute;
	z-index:100;
	width:70%;
	height: 50px;
	left:15%;
	bottom: 6%;
	text-align:center;
	}
	
.dialogueGold1{
	/*color: rgba(255, 255, 255, 0.8);
	color:#FF9000;*/
	color: #ffc67b;
    text-shadow:0px 2px 0px #000000;
	position:absolute;
	z-index:100;
	width:70%;
	height: 50px;
	left:15%;
	bottom: 6%;
	text-align:center;
	}
.diaTxt{
	/*background-color:rgba(0,0,0,0.6);*/
	text-shadow:0px 2px 0px #000000;
	}
	/*From scene2 but global*/
#frame{
	background-image:url(../imgs/frame.png);
    color: black;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
	z-index:2;
	display:block;
	}
#title{
	background-image:url(../imgs/title.png);
    height: 3.75%;
    left: 43.5%;
    margin: 0 auto;
    position: absolute;
    top: 20px;
    width: 13%;
	z-index:3;
	display:block;
	}
#phone{
	background-image:url(../imgs/phone-3.png);
	width: 19.33%;
    height: 55.63%;
    left: 14px;
    margin: 0 auto;
    position: absolute;
    top: 22.5%;
	z-index:3;
	display:block;
	}
	/*
#phoneTxt {
    height: 38%;
    left: 13%;
    position: absolute;
    top: 47.5%;
    width: 74%;
	overflow:hidden;
	display:none;
	z-index:4;
	}
	*/
#pango{
	background-image:url(../imgs/pangoUpdates.png);
	width: 12.09%;
    height: 33.94%;
    right: 8px;
    margin: 0 auto;
    position: absolute;
    top: 32.7%;
	z-index:3;
	color:white;
	display:block;
	}

#upperLayer {
	 height: 10%;
    left: 2%;
    position: absolute;
    top: 6%;
    width: 96%;
	}
	
#completed{
	    height: 5%;
    left: 2%;
    position: absolute;
    top: 9%;
    width: 6%;
	}
	
	
.blackness {
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	opacity:0;
	display:none;
	z-index:4;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

#blacky{	
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	opacity:0;
	display:none;
	z-index:4;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

#timer{
	position:absolute;
	height:10%;
	width:15%;
	left: 43.3%;
	top: 9.5%;
	font-size:27px;
	}
	
#mute {
	background-image:url(../imgs/mute-1.png);
	width:7.524%;
	height:3.76%;
	position:fixed;
	z-index:2;
	right: 5%;
	top:6%;
}

#save {
	background-image:url(../imgs/save-1.png);
	width:6.38%;
	height:3.76%;
	position:fixed;
	z-index:2;
	right: 13%;
	top:6%;
}

.cross {
	display:none; color:red; float:left; margin-left:10px;
	font-weight:bold;
	}
	
.q {
	/*background-image:url(../imgs/qBG.png);*/
	width: 63.954%;
	height: 80.67%;
	position:relative;
	top: 12%;
	left: 22.023%;
	display:none;
	}
.qQ{
    font-size: 18px;
    height: 12%;
    left: 4%;
    position: relative;
    top: 52%;
    width: 80%
	}
	
.qAns{
    height: 35%;
    left: 4%;
    position: relative;
    top: 49%;
    width: 90%;
	line-height: 350%;
	font-size:13px;
	z-index:4;
	}
	
#pangoClose{
	display:none;
	}
