@charset "utf-8";
/* CSS Document */

.qTxt{
	position:relative;
	z-index:2;
	display:block;
	top: 38.5%;
	opacity:0;
	-webkit-opacity:0;
	text-align:center;
	font-size:30px; 
	}
	
.q {
	background-image:url(../imgs/qBG.png);
	width: 63.954%;
	height: 80.67%;
	position:relative;
	top: 4%;
	left: 22.023%;
	display:none;
	}

.qHelp {
	background-image:url(../imgs/help_box.png);
	width: 63.954%;
	height: 80.67%;
	position:relative;
	top: 4%;
	left: 22.023%;
	display:none;
	}
	
.qTitle{
 font-size: 20px;
    height: 5%;
    left: 4%;
    position: relative;
    top: 3%;
    width: 85%;
	}
	
.qQ{
    font-size: 13px;
    height: 12%;
    left: 4%;
    position: relative;
    top: 6%;
    width: 80%
	}
	
.qAns{
    height: 65%;
    left: 4%;
    position: relative;
    top: 12%;
    width: 90%;
	line-height: 350%;
	font-size:13px;
	z-index:4;
	
	}
	
.gHelp {
	background-color: transparent;
    height: 4%;
    position: absolute;
    right: 3%;
    top: 10%;
    width: 11%;
	}
	
.helpTxt {
	 height: 65%;
    left: 4%;
    position: relative;
    top: 11%;
    width: 90%;
	line-height: 300%;
	font-size:14px;
	}
	
#q5-a{
	
	width: 63.95%;
	height:80.67%;
	position:relative;
	top: 4%;
	left: 22.023%;
	display:none;
	background-image:url(../imgs/q5/q5.png);
	z-index:3;
	}
	
	
#q6-a{
	width: 63.95%;
	height:80.67%;
	position:relative;
	top: 4%;
	left: 22.023%;
	display:none;
	background-image:url(../imgs/q6/q6.png);
	z-index:3;
	}
	
.q-units {
	position:absolute;
	width:15.32%;
	height:4.48%;
	z-index:6;
	cursor:url(../imgs/hand.png), auto;
	}
	
#q5-1 {
	background-image:url(../imgs/q5/ans1.png);
	left: 7%;
    top: 40%;
	}
	
#q5-2 {
	background-image:url(../imgs/q5/ans2.png);
	left: 7%;
    top: 45%;
	}
	
#q5-3 {
	background-image:url(../imgs/q5/ans3.png);
	left: 7%;
    top: 50%;
	}
#q5-4 {
	background-image:url(../imgs/q5/ans4.png);
	left: 7%;
    top: 55%;
	}
#q5-5 {
	background-image:url(../imgs/q5/ans5.png);
	left: 7%;
    top: 60%;
	}
#q5-6 {
	background-image:url(../imgs/q5/ans6.png);
	left: 7%;
    top: 65%;
	}
#q5-7 {
	background-image:url(../imgs/q5/ans7.png);
	left: 7%;
    top: 70%;
	}
	
#q5-8 {
	background-image:url(../imgs/q5/ans8.png);
	left: 7%;
    top: 75%;
	}
#q5-9 {
	background-image:url(../imgs/q5/ans9.png);
	left: 7%;
    top: 80%;
	}
.acQ{
	cursor:url(../imgs/hand.png), auto
	}



#q6-1 {
	background-image:url(../imgs/q6/ans1.png);
	left: 7%;
    top: 38%;
	}
	
#q6-2 {
	background-image:url(../imgs/q6/ans2.png);
	left: 7%;
    top: 43%;
	}
	
#q6-3 {
	background-image:url(../imgs/q6/ans3.png);
	left: 7%;
    top: 48%;
	}
#q6-4 {
	background-image:url(../imgs/q6/ans4.png);
	left: 7%;
    top: 53%;
	}
#q6-5 {
	background-image:url(../imgs/q6/ans5.png);
	left: 7%;
    top: 58%;
	}
#q6-6 {
	background-image:url(../imgs/q6/ans6.png);
	left: 7%;
    top: 63%;
	}
#q6-7 {
	background-image:url(../imgs/q6/ans7.png);
	left: 7%;
    top: 68%;
	}
	
#q6-8 {
	background-image:url(../imgs/q6/ans8.png);
	left: 7%;
    top: 73%;
	}

