@charset "utf-8";
/* CSS Document */

#s3-continaer{
	/*background-image:url(../imgs/bg2.jpg);*/
	}
#t1{
	background-image:url(../imgs/t1.png);
	width: 6.91%;
	height:9.04%;
	position:absolute;
	top:46.2%;
	left:79%;
	display:none;
	z-index:3;
}

#t2{
	background-image:url(../imgs/t2.png);
	width: 4.724%;
	height:5%;
	position:absolute;
	top:51.3%;
	left:75.5%;
	display:none;
	z-index:3;
}

#t3{
	background-image:url(../imgs/t3.png);
	width: 4.9%;
	height:5.56%;
	position:absolute;
	top:52.7%;
	left:71.3%;
	display:none;
	z-index:3;
}
#t4{
	background-image:url(../imgs/t4.png);
	width: 3.32%;
	height:8.06%;
	position:absolute;
	top:57%;
	left:67.4%;
	display:none;
	z-index:3;
}
#t5{
	background-image:url(../imgs/t5.png);
	width: 5.67%;
	height:10.15%;
	position:absolute;
	top:62%;
	left:65%;
	display:none;
	z-index:3;
}
#t6{
	background-image:url(../imgs/t6.png);
	width: 4.811%;
	height:8.76%;
	position:absolute;
	top:61.8%;
	left:70.5%;
	display:none;
	z-index:3;
}
#t7{
	background-image:url(../imgs/t7.png);
	width: 7.96%;
	height:3.616%;
	position:absolute;
	top:58%;
	left:72.5%;
	display:none;
	z-index:3;
}
#t8{
	background-image:url(../imgs/t8.png);
	width: 9.8%;
	height:3.616%;
	position:absolute;
	top:55.5%;
	left:75.8%;
	display:none;
	z-index:3;
}
#boat{
	background-image:url(../imgs/boat.png);
	width: 12.95%;
	height:14.88%;
	position:absolute;
	top:52%;
	left:18.2%;
	display:none;
	z-index:3;
}
		
#q4-a {
	background-image:url(../imgs/q4.png);
	}
		
#q5-a {
	background-image:url(../imgs/q5.png);
	}
#q6-a {
	background-image:url(../imgs/q6.png);
	}
#q7-a {
	background-image:url(../imgs/q7.png);
	}
#q8-a {
	background-image:url(../imgs/q8.png);
	}
#q9-a {
	background-image:url(../imgs/q9.png);
	}
#door1-obj {
	background-image:url(../imgs/obj-3.png);
	}

#kp {
	width:3.5%;
	height: 5.42%;
	position:absolute;
	top:46.3%;
	right:13%;
	display:none;
	z-index:3;
	background-image:url(../imgs/kp-1.png);
	}
	
	
.obj {
	width: 54.24%;
	height: 65.37%;
	top:17.315%;
	left:22.88%;
	position:relative;
	text-align:center;
	display:none;
	}
	
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}
.blackOverlay{
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
	z-index:4;
	background-color:rgba(0,0,0,0.5);
	display:none;
	opacity:0;
	-webkit-opacity:0;
	}
.obj-close{
	background-color:transparent; width:50px; height:30px; position:absolute; top:10px; right:2px;display:block;
	}
	
.diaTxt{
	/*background-color:rgba(0,0,0,0.4);*/
	}