@charset "utf-8";
/* CSS Document */

#s3-continaer{
	/*background-image:url(../imgs/bg2.jpg);*/
	}
#boat{
	background-image:url(../imgs/boat.png);
	width: 12.95%;
	height:14.88%;
	position:absolute;
	top:52%;
	left:18.2%;
	display:none;
	z-index:3;
}
		

#q10-a {
	background-image:url(../imgs/q10.png);
	}
#door1-obj {
	background-image:url(../imgs/obj-3.png);
	}

#kp {
	width:3.5%;
	height: 5.42%;
	position:absolute;
	top:46.3%;
	right:13%;
	display:none;
	z-index:3;
	background-image:url(../imgs/kp-1.png);
	}
	
	
.obj {
	width: 54.24%;
	height: 65.37%;
	top:17.315%;
	left:22.88%;
	position:relative;
	text-align:center;
	display:none;
	}
	
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}
.blackOverlay{
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
	z-index:4;
	background-color:rgba(0,0,0,0.5);
	display:none;
	opacity:0;
	-webkit-opacity:0;
	}
.obj-close{
	background-color:transparent; width:50px; height:30px; position:absolute; top:10px; right:2px;display:block;
	}
	
#greenDot4{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 35%;
	left: 15.8%;
	z-index:3;
	display:none;
	-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
-webkit-background-size: 100% 100%; 
background-size: 100% 100%;
	}
	
#vortex{
	background-image:url(../imgs/vortex.jpg);
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	-webkit-opacity:0;
	display:none;

	}

.vortex_active {
	-moz-animation: circ 15s linear 1; /* FF5+ */
	-moz-transform:scale(2);
	-webkit-animation: circ 15s linear 1; /* FF5+ */
	-webkit-transform:scale(2);
	z-index:2;
	}
	
@-webkit-keyframes circ {
0%  { -webkit-opacity:0;opacity:0; -webkit-transform: rotate(0deg) scale(2); }
10%  { -webkit-opacity:0.3;opacity:0.3; -webkit-transform: rotate(90deg) scale(2); }
20%  { -webkit-opacity:0.3;opacity:0.3; -webkit-transform: rotate(180deg) scale(2); }
30%  { -webkit-opacity:0.4;opacity:0.4; -webkit-transform: rotate(270deg) scale(2); }
40%  { -webkit-opacity:0.4;opacity:0.4; -webkit-transform: rotate(360deg) scale(2); }
50%  { -webkit-opacity:0.4;opacity:0.4; -webkit-transform: rotate(450deg) scale(2); }
60%  { -webkit-opacity:0.4;opacity:0.4; -webkit-transform: rotate(540deg) scale(2); }
70%  { -webkit-opacity:0.5;opacity:0.5; -webkit-transform: rotate(630deg) scale(2.2) ; }
80%  { -webkit-opacity:0.5;opacity:0.5; -webkit-transform: rotate(720deg)scale(2.2); }
80%  { -webkit-opacity:0.3;opacity:0.3; -webkit-transform: rotate(810deg) scale(2.2); }
100%  { -webkit-opacity:0;opacity:0; -webkit-transform: rotate(900deg) scale(2.2); z-index:-1 }
  }
@-moz-keyframes circ {
0%  { -webkit-opacity:0;opacity:0; -moz-transform: rotate(0deg) scale(2); }
10%  { -webkit-opacity:0.3;opacity:0.3; -moz-transform: rotate(90deg) scale(2); }
20%  { -webkit-opacity:0.3;opacity:0.3; -moz-transform: rotate(180deg) scale(2); }
30%  { -webkit-opacity:0.4;opacity:0.4; -moz-transform: rotate(270deg) scale(2); }
40%  { -webkit-opacity:0.4;opacity:0.4; -moz-transform: rotate(360deg) scale(2); }
50%  { -webkit-opacity:0.5;opacity:0.4; -moz-transform: rotate(450deg) scale(2); }
60%  { -webkit-opacity:0.5;opacity:0.4; -moz-transform: rotate(540deg) scale(2); }
70%  { -webkit-opacity:0.5;opacity:0.5; -moz-transform: rotate(630deg) scale(2.2) ; }
80%  { -webkit-opacity:0.2;opacity:0.5; -moz-transform: rotate(720deg)scale(2.2); }
80%  { -webkit-opacity:0.3;opacity:0.3; -moz-transform: rotate(810deg) scale(2.2); }
100%  { -webkit-opacity:0;opacity:0; -moz-transform: rotate(900deg) scale(2.2); z-index:-1}
  }
  

