@charset "utf-8";
/* CSS Document */
	
#greenDot{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 35%;
	left: 10.8%;
	z-index:3;
	display:none;
	-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
-webkit-background-size: 100% 100%; 
background-size: 100% 100%;
	}
	
	
#s2-continaer{
	background-image:url(../imgs/bg1.jpg);
	}
	

#lab1-obj {
	background-image:url(../imgs/obj-1.png);
	}

#lab2-obj {
	background-image:url(../imgs/obj-3.png);
	}

#lab3-obj {
	background-image:url(../imgs/obj-4.png);
	}
#lab4-obj {
	background-image:url(../imgs/obj-2.png);
	}
	
#map-obj {
	background-image:url(../imgs/obj-5.png);
	}
	
#forest-obj {
	background-image:url(../imgs/obj-10.png);
	}
#scrub-obj {
	background-image:url(../imgs/obj-7.png);
	}
#rain-obj {
	background-image:url(../imgs/obj-6.png);
	}
#grass-obj {
	background-image:url(../imgs/obj-8.png);
	}
#warm-obj {
	background-image:url(../imgs/obj-11.png);
	}
#cold-obj {
	background-image:url(../imgs/obj-9.png);
	}
.obj {
	width: 54.24%;
	height: 65.37%;
	top:17.315%;
	left:22.88%;
	position:relative;
	text-align:center;
	display:none;
	}
	
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}
.blackOverlay{
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
	z-index:4;
	background-color:rgba(0,0,0,0.5);
	display:none;
	opacity:0;
	-webkit-opacity:0;
	}
.obj-close{
	background-color:transparent; width:50px; height:30px; position:absolute; top:10px; right:2px;display:block;
	}
		
	
#q1-a {
	background-image:url(../imgs/q1.png);
	}
	
#q2-a {
	background-image:url(../imgs/q2.png);
	}
	
#q3-a {
	background-image:url(../imgs/q3/q3.png);
	}
	
.passport{
	position:absolute;
	width:24.96%;
	height:24.89%;
	}
#doug {
	left:6%;
	top:56%;
	background-image:url(../imgs/q3/doug-1.png);
	}
#san {
	left:6%;
	top:8%;
	background-image:url(../imgs/q3/san-1.png);
	}
#ed {
	left:36%;
	top:8%;
	background-image:url(../imgs/q3/ed-1.png);
	}
#med {
	left:66%;
	top:8%;
	background-image:url(../imgs/q3/med-1.png);
	}
#tyres {
	left:36%;
	top:56%;
	background-image:url(../imgs/q3/tyres-1.png);
	}
#dorian {
	left:66%;
	top:56%;
	background-image:url(../imgs/q3/dorian-1.png);
	}
	
	
.ppTxt{
	width:24.96%;
	height:5%;
	text-align:center;
	position:absolute;
	display:none;
	opacity:1;
	-webkit-opacity:1;
	}
#dougTxt {
	left:6%;
	top:82%;
	}
#sanTxt {
	left:6%;
	top:35%;
	}
#edTxt {
	left:36%;
	top:35%;
	}
#medTxt {
	left:66%;
	top:35%;
	}
#tyresTxt {
	left:36%;
	top:82%;
	}
#dorianTxt {
	left:66%;
	top:82%;
	}

#clickTxt{
	position:absolute;
	width:48.63%;
	height:2.98%;
	background-image:url(../imgs/q3/fr-txt.png);
	top:45%;
	left:25%;
	}
	
#doneTxt{
	position:absolute;
	width:25%;
	height:5.957%;
	left:36%;
	bottom:5%;
	background-image:url(../imgs/q3/finished-txt.png);
	display:block;
	}
.chota{
	font-size:12px;
}