#phoneTxt {
    height: 38%;
    left: 13%;
    position: absolute;
    top: 47.5%;
    width: 74%;
	overflow-y:auto;
	z-index:4;
	}
#list{
margin-left: 5px;
padding-left: 0;
list-style: none;
	}
#list li{
padding-bottom:8px;
padding-left: 18px;
background-image: url(../imgs/icon.png);
background-repeat: no-repeat;
background-position: 0 .5em;
font-size:9px;
font-family:Arial, Helvetica, sans-serif;
padding-top:4px;
	}
.icon-1{
	background-image: url(../imgs/icon-1.png) !important;
	}
.icon-2{
	background-image: url(../imgs/icon-2.png) !important;
	}
.icon-3{
	background-image: url(../imgs/icon-3.png) !important;
	}

/*  scrollgeneric is used for corrective styling of elements, and should not be modified or removed */ 
.scrollgeneric {
line-height: 1px;
font-size: 1px;
position: absolute;
top: 0; left: 0;
}
.vscrollerbase {
width:11px;
margin-left:5px;
background: transparent url(../imgs/scroll3.png) -7px 0px repeat-y;
}
.vscrollerbar {
background-image: url(../imgs/scroll1.png);
width: 5px;
/* following is the bit that allows us fixed height scrollbars */
height: 21px !important;
/* for fixed height, we force the vscrollerbar class with an !important decleration, and fleXcroll follows suit.*/

background-image: url(../imgs/scroll.png);
/* unfortunately, due to limitations of CSS, we cannot provide a color for the background when we are
using alpha images, thay have to be transparent.*/
}

* html .vscrollerbar {
/* IE6 alpha png trick */
/* IE7 is not affected by this trick, as it perfectly handles the normal png */
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='scrollbar.png');
background-image: none;
}


/* do not forget to give horizontal scrollbars some color properties even if you don't plan on using them */
.hscrollerbase {height: 22px;}
.hscrollerbar {height: 22px; background-color: #84ADD6;}

.vscrollerbar, .hscrollerbar {
/* paddings of these elements will decide how far the scrollbar will stop in both ends, and are not actually
used for styling, and are set to 0 by the script, here we will set them the size of our faux arrows */
padding: 0px;
z-index: 2;
}

/* properties for scroller jog box, just in case */
.scrollerjogbox {
width: 10px;
height: 22px;
top: auto; left: auto;
bottom: 0px; right: 0px;
background: #698AAA;
}


/* Scroll Bar Master Styling Ends Here */


