@charset "utf-8";
/* CSS Document */

.ahista{
-webkit-transition: all 2000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
   -moz-transition: all 2000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 2000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -o-transition: all 2000ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 2000ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */

-webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -o-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */		 
}


@-webkit-keyframes bgAppear {
0%  { -webkit-opacity:0;opacity:0;  }
10%  { -webkit-opacity:0;opacity:0; }
20%  { -webkit-opacity:0;opacity:0; }
30%  { -webkit-opacity:0;opacity:0;  }
40%  { -webkit-opacity:0;opacity:0;  }
50%  { -webkit-opacity:0;opacity:0;  }
60%  { -webkit-opacity:0.2;opacity:0.2;   }
70%  { -webkit-opacity:0.3;opacity:0.3;  }
80%  { -webkit-opacity:0.5;opacity:0.5; }
80%  { -webkit-opacity:0.7;opacity:0.7;  }
100%  { -webkit-opacity:1;opacity:1;  }
  }
@-moz-keyframes bgAppear {
0%  { -webkit-opacity:0;opacity:0;  }
10%  { -webkit-opacity:0;opacity:0; }
20%  { -webkit-opacity:0;opacity:0; }
30%  { -webkit-opacity:0;opacity:0;  }
40%  { -webkit-opacity:0;opacity:0;  }
50%  { -webkit-opacity:0;opacity:0;  }
60%  { -webkit-opacity:0.2;opacity:0.2;   }
70%  { -webkit-opacity:0.3;opacity:0.3;  }
80%  { -webkit-opacity:0.5;opacity:0.5; }
80%  { -webkit-opacity:0.7;opacity:0.7;  }
100%  { -webkit-opacity:1;opacity:1;  }
  }

.blink {
	-webkit-animation: blinkAni 0.5s linear 1 ; /* Saf5, Chrome */
	-moz-animation: blinkAni 0.5s linear 1; /* FF5+ */
	}
.blink_continous{
	-webkit-animation: blinkAni 0.5s linear infinite ; /* Saf5, Chrome */
	-moz-animation: blinkAni 0.5s linear infinite; /* FF5+ */
	}
.blink_continous_slow{
	-webkit-animation: blinkAni 1.3s linear infinite alternate ; /* Saf5, Chrome */
	-moz-animation: blinkAni 1.3s linear infinite alternate; /* FF5+ */
	}
.blink_loading {
	-webkit-animation: blinkAni 4.3s linear infinite alternate ; /* Saf5, Chrome */
	-moz-animation: blinkAni 4.3s linear infinite alternate; /* FF5+ */
	}
	
@-webkit-keyframes blinkAni {
	0% {opacity:0;-webkit-opacity:0;}
	25% {opacity:1;-webkit-opacity:1;}
	50% {opacity:0;-webkit-opacity:0;}
	100% {opacity:1;-webkit-opacity:1;}
}
@-moz-keyframes blinkAni {
	0% {opacity:0;}
	25% {opacity:1;}
	50% {opacity:0;}
	100% {opacity:1;}
}


.eagleAn {
	-webkit-animation: eagleAni 4.3s linear 1 alternate ; /* Saf5, Chrome */
	-moz-animation: eagleAni 4.3s linear 1 alternate; /* FF5+ */
	}

@-webkit-keyframes eagleAni {
	0% {opacity:0;-webkit-opacity:0;}
	25% {opacity:0.5;-webkit-opacity:0.5;}
	50% {opacity:1;-webkit-opacity:1;}
	75% {opacity:1;-webkit-opacity:1;}
	100% {opacity:0;-webkit-opacity:0; top: 10%; left:30% }
}
@-moz-keyframes eagleAni {
	0% {opacity:0;}
	25% {opacity:0.5;}
	50% {opacity:1;}
	75% {opacity:1;}
	100% {opacity:0; top: 10%; left: 30%;}
}

.handAn {
	-webkit-animation: handAni 3.3s linear 2  ; /* Saf5, Chrome */
	-moz-animation: handAni 3.3s linear 2 ; /* FF5+ */
	}

@-webkit-keyframes handAni {
	0% {opacity:0;-webkit-opacity:0;}
	25% {opacity:0.5;-webkit-opacity:0.5;}
	50% {opacity:1;-webkit-opacity:1;}
	75% {opacity:0.7;-webkit-opacity:0.7;}
	100% {opacity:0;-webkit-opacity:0; left:58% }
}
@-moz-keyframes handAni {
	0% {opacity:0;}
	25% {opacity:0.5;}
	50% {opacity:0.7;}
	75% {opacity:1;}
	100% {opacity:0;  left: 58%;}
}

@-webkit-keyframes circ {
0%  { -webkit-opacity:0;opacity:0; -webkit-transform: rotate(0deg) scale(2); }
10%  { -webkit-opacity:0.3;opacity:0.3; -webkit-transform: rotate(90deg) scale(2); }
20%  { -webkit-opacity:0.3;opacity:0.3; -webkit-transform: rotate(180deg) scale(2); }
30%  { -webkit-opacity:0.4;opacity:0.4; -webkit-transform: rotate(270deg) scale(2); }
40%  { -webkit-opacity:0.4;opacity:0.4; -webkit-transform: rotate(360deg) scale(2); }
50%  { -webkit-opacity:0.4;opacity:0.4; -webkit-transform: rotate(450deg) scale(2); }
60%  { -webkit-opacity:0.4;opacity:0.4; -webkit-transform: rotate(540deg) scale(2); }
70%  { -webkit-opacity:0.5;opacity:0.5; -webkit-transform: rotate(630deg) scale(2.2) ; }
80%  { -webkit-opacity:0.5;opacity:0.5; -webkit-transform: rotate(720deg)scale(2.2); }
80%  { -webkit-opacity:0.3;opacity:0.3; -webkit-transform: rotate(810deg) scale(2.2); }
100%  { -webkit-opacity:0;opacity:0; -webkit-transform: rotate(900deg) scale(2.2); z-index:-1 }
  }
@-moz-keyframes circ {
0%  { -webkit-opacity:0;opacity:0; -moz-transform: rotate(0deg) scale(2); }
10%  { -webkit-opacity:0.3;opacity:0.3; -moz-transform: rotate(90deg) scale(2); }
20%  { -webkit-opacity:0.3;opacity:0.3; -moz-transform: rotate(180deg) scale(2); }
30%  { -webkit-opacity:0.4;opacity:0.4; -moz-transform: rotate(270deg) scale(2); }
40%  { -webkit-opacity:0.4;opacity:0.4; -moz-transform: rotate(360deg) scale(2); }
50%  { -webkit-opacity:0.5;opacity:0.4; -moz-transform: rotate(450deg) scale(2); }
60%  { -webkit-opacity:0.5;opacity:0.4; -moz-transform: rotate(540deg) scale(2); }
70%  { -webkit-opacity:0.5;opacity:0.5; -moz-transform: rotate(630deg) scale(2.2) ; }
80%  { -webkit-opacity:0.2;opacity:0.5; -moz-transform: rotate(720deg)scale(2.2); }
80%  { -webkit-opacity:0.3;opacity:0.3; -moz-transform: rotate(810deg) scale(2.2); }
100%  { -webkit-opacity:0;opacity:0; -moz-transform: rotate(900deg) scale(2.2); z-index:-1}
  }
  
  

@-webkit-keyframes appearAni{
	0%{ opacity:0;-webkit-opacity:0;}
	40% {opacity:1;-webkit-opacity:1;}
	70% {opacity:1;-webkit-opacity:1;}
	100%{ opacity:0;-webkit-opacity:0;}
	}
@-moz-keyframes appearAni{
	0%{ opacity:0;}
	40% {opacity:1}
	70% {opacity:1}
	100%{ opacity:0;}
	}