@charset "utf-8";
/* CSS Document */

#vortex{
	background-image:url(../imgs/vortex.jpg);
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	-webkit-opacity:0;

	}

.vortex_active {
	-moz-animation: circ 15s linear 1; /* FF5+ */
	-moz-transform:scale(2);
	-webkit-animation: circ 15s linear 1; /* FF5+ */
	-webkit-transform:scale(2);
	z-index:2;
	}

	
#desc-1{
	position:absolute;
	background-image:url(../imgs/desc-1.png);
	width:26.16%;
	height:19.2%;
	top: 29%;
	left: 13%;
	z-index:3;
	display:none;
	-moz-transform: scale(1.2);
	-webkit-transform: scale (1.2);
	}	

#desc-2{
	position:absolute;
	background-image:url(../imgs/desc-2.png);
	width:26.16%;
	height:19.2%;
	top: 46%;
	left: 13%;
	z-index:3;
	display:none;
	-moz-transform: scale(1.2);
	-webkit-transform: scale (1.2);
	}	
#desc-3{
	position:absolute;
	background-image:url(../imgs/desc-5.png);
	width:26.16%;
	height:20.58%;
	top: 42%;
	right: 8%;
	z-index:3;
	display:none;
	-moz-transform: scale(1.2);
	-webkit-transform: scale (1.2);
	}	
#desc-4{
	position:absolute;
	background-image:url(../imgs/desc-4.png);
	width:26.16%;
	height:19.2%;
	top: 27%;
	left: 14%;
	z-index:3;
	display:none;
	-moz-transform: scale(1.2);
	-webkit-transform: scale (1.2);
	}
#greenDot{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 35%;
	left: 10.8%;
	z-index:3;
	display:none;
	}
.close{
    background-color: transparent;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 6px;
    width: 23px;
	}
	
.appear {
	-webkit-animation: bgAppear 10s linear 1 ; /* Saf5, Chrome */
	-moz-animation: bgAppear 10s linear 1; /* FF5+ */
	}
	
.appearTxt {
	-webkit-animation: appearAni 8s linear 1 ; /* Saf5, Chrome */
	-moz-animation: appearAni 8s linear 1; /* FF5+ */
	}
	
#eagle {
	background-image: url(../imgs/bird-animation.gif);
	height:12.535%;
	width:7.43%;
	top:41%;
	opacity:0;
	webkit-opacity:0;
	position:absolute;
	z-index:2;
	left: 50.4%; 
	}