@charset "utf-8";
/* CSS Document */

#engine {
	width: 44.707%;
	height: 30.876%;
	position:absolute;
	top:69%;
	left:0%;
	display:none;
	background-image:url(../imgs/generator.png);
	z-index:4;
	}

.q {
	width: 56.34%;
	height:61.126%;
	top:21.6%;
	left:24.6%;
	z-index:5;
	position:absolute;
	display:none;
	}
	
#q-1 { background-image:url(../imgs/electrical/electrical1.png);}
#q-2 { background-image:url(../imgs/electrical/electrical2.png);}
#q-help { background-image:url(../imgs/electrical/electrical-help-1.png);}

.q-units {
	position:absolute;
	width:11.49%;
	height:11.75%;
	z-index:6;
	}
.q-units1 {
	position:absolute;
	width:31.98%;
	height:24.88%;
	z-index:6;
	}
	
#q1-1 {
	background-image:url(../imgs/electrical/electrical1-1.png);
	top:43%;
	left: 7%;
	}
	
#q1-2 {
	background-image:url(../imgs/electrical/electrical1-2.png);
	top:43%;
	left: 20%;
	}
	
#q1-3 {
	background-image:url(../imgs/electrical/electrical1-3.png);
	top:43%;
	left: 33%;
	}
#q1-4 {
	background-image:url(../imgs/electrical/electrical1-4.png);
	top:58%;
	left: 7%;
	}
#q1-5 {
	background-image:url(../imgs/electrical/electrical1-5.png);
	top:58%;
	left: 20%;
	}
#q2-1 {
	background-image:url(../imgs/electrical/electrical2-1.png);
	left: 13%;
    top: 35%;
	}
#q2-2 {
	background-image:url(../imgs/electrical/electrical2-2.png);
	left: 53%;
    top: 35%;
	}
#q2-3 {
	background-image:url(../imgs/electrical/electrical2-3.png);
	left: 13%;
    top: 68%;
	}
#q2-4 {
	background-image:url(../imgs/electrical/electrical2-4.png);
	left: 53%;
    top: 68%;
	}
.acQ{
	cursor:url(../imgs/hand.png), auto
	}
.welldone{
	width: 17.08%;
	height:4.38%;
	top:58%;
	left: 16%;
	display:none;
	z-index:5;
	background-image:url(../imgs/welldone.png);
	position:relative;
	}
	
.help {
    background-color: transparent;
    height: 6%;
    left: 86%;
    position: relative;
    top: 12%;
    width: 9%;
	}
	
#greenDot1{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 31.5%;
	left: 10.3%;
	z-index:4;
	display:none;
}

#greenDot2{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 34.2%;
	left: 11.5%;
	z-index:4;
	display:none;
}

#greenDot3{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 34.2%;
	left: 8.8%;
	z-index:4;
	display:none;
}

#hand-ani {
	position: absolute;
	left:25%;
	top:64%;
	height:22px;
	width:17px;
	background-image:url(../imgs/hand.png);
	opacity:0;
	z-index:5;
	}