@charset "utf-8";
/* CSS Document */


	
#greenDot1{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 31%;
	left: 10.3%;
	z-index:5;
	display:none;
	}