@charset "utf-8";
/* CSS Document */

#propeller{
	position:absolute;
	width:11.37%;
	height:10.15%;
	top:60.6%;
	left:22.1%;
	background-image: url(../imgs/propeller.png);
	z-index:3;
	display:none;
	}
#propeller-ani{
  background-image: url(../imgs/prop-1.gif);
    display: block;
    height: 12.93%;
    left: 21%;
    position: absolute;
    top: 60.3%;
    width: 6.5%;
    z-index: 2;
	display:none;
	}
#door{
	position:absolute;
	width:1.57%;
	height:6.8%;
	top:59.5%;
	left:42%;
	background-image:url(../imgs/door.png);
	z-index:3;
	display:none;
	}