@charset "utf-8";
/* CSS Document */

#purifier {
	width:35.78%;
	height:86.648%;
	position:absolute;
	top:13%;
	left:5.1%;
	display:none;
	background-image:url(../imgs/purifier.png);
	z-index:4;
	}
	
.q {
	width: 56.34%;
	height:61.126%;
	top:21.6%;
	left:24.6%;
	z-index:5;
	position:absolute;
	display:none;
	}
	
#q-1 { background-image:url(../imgs/chemical/chemical1.png);}
#q-2 { background-image:url(../imgs/chemical/chemical2.png);}
#q-help { background-image:url(../imgs/chemical/chemical-help-1.png);}

.q-units {
	position:absolute;
	width:11.49%;
	height:11.75%;
	z-index:6;
	}
.q-units1 {
	position:absolute;
	width:31.98%;
	height:24.88%;
	z-index:6;
	}
	
#q1-1 {
	background-image:url(../imgs/chemical/chemical1-1.png);
	top:43%;
	left: 7%;
	}
	
#q1-2 {
	background-image:url(../imgs/chemical/chemical1-2.png);
	top:43%;
	left: 20%;
	}
	
#q1-3 {
	background-image:url(../imgs/chemical/chemical1-3.png);
	top:43%;
	left: 33%;
	}
#q1-4 {
	background-image:url(../imgs/chemical/chemical1-4.png);
	top:58%;
	left: 7%;
	}
#q1-5 {
	background-image:url(../imgs/chemical/chemical1-5.png);
	top:58%;
	left: 20%;
	}
#q1-6 {
	background-image:url(../imgs/chemical/chemical1-6.png);
	top:58%;
	left: 33%;
	}
#q1-7 {
	background-image:url(../imgs/chemical/chemical1-7.png);
	top:73%;
	left: 7%;
	}
#q1-8 {
	background-image:url(../imgs/chemical/chemical1-8.png);
	top:73%;
	left: 20%;
	}
#q2-1 {
	background-image:url(../imgs/chemical/chemical2-1.png);
	top:43%;
	left: 7%;
	}
	
#q2-2 {
	background-image:url(../imgs/chemical/chemical2-2.png);
	top:43%;
	left: 20%;
	}
	
#q2-3 {
	background-image:url(../imgs/chemical/chemical2-3.png);
	top:43%;
	left: 33%;
	}

.acQ{
	cursor:url(../imgs/hand.png), auto
	}

.welldone{
	width: 17.08%;
	height:4.38%;
	top:58%;
	left: 16%;
	display:none;
	z-index:5;
	background-image:url(../imgs/welldone.png);
	position:relative;
	}
#greenDot1{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 34.5%;
	left: 9%;
	z-index:4;
	display:none;
}

#greenDot2{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 37.2%;
	left: 7.6%;
	z-index:4;
	display:none;
}

#greenDot3{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 40.8%;
	left: 8.9%;
	z-index:4;
	display:none;
}

.help {
    background-color: transparent;
    height: 6%;
    left: 86%;
    position: relative;
    top: 12%;
    width: 9%;
	}
