@charset "utf-8";
/* CSS Document */

#transmitor{
	position:absolute;
	width:12.25%;
	height:24.62%;
	top:40.6%;
	left:29.6%;
	background-image: url(../imgs/transmitter.png);
	z-index:3;
	display:none;
	}
#transmitor1{
	position:absolute;
	width:12.25%;
	height:24.62%;
	top:40.6%;
	left:29.6%;
	background-image: url(../imgs/transmitter.png);
	z-index:3;
	display:none;
	}
#topMap{
	position:absolute;
	width:25.546%;
	height:24.62%;
	top:4.4%;
	left:10.4%;
	background-image:url(../imgs/map.png);
	z-index:3;
	display:none;
	}
#newspaper {
	position:absolute;
	width:9.8%;
	height:11.54%;
	top:47.2%;
	left:63.3%;
	background-image:url(../imgs/newspaper.png);
	z-index:3;
	display:none;
	}
	
#paper {
	background-image:url(../imgs/newspaper-overlay.png);
	width:54.33%;
	height:65.37%;
	top:17.835%;
	left:26.315%;
	position:relative;
	}
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}

#greenDot1{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 40%;
	left: 8.9%;
	z-index:3;
	display:none;
}

#greenDot2{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 40%;
	left: 11.6%;
	z-index:3;
	display:none;
}

#greenDot3{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 43.8%;
	left: 10.4%;
	z-index:3;
	display:none;
}