@charset "utf-8";
/* CSS Document */

#book-obj {
	background-image:url(../imgs/obj-book.png);
	}

#glasses-obj {
	background-image:url(../imgs/obj-glasses.png);
	}

#shoe-obj {
	background-image:url(../imgs/obj-shoe.png);
	}
	
#resistor-obj {
	background-image:url(../imgs/obj-transistor.png);
	}
.obj {
	width: 54.24%;
	height: 65.37%;
	top:17.315%;
	left:22.88%;
	position:relative;
	text-align:center;
	}
	
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}

#greenDot1{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 34.5%;
	left: 11.6%;
	z-index:3;
	display:none;
}

#greenDot2{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 37.2%;
	left: 13%;
	z-index:3;
	display:none;
}

#greenDot3{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 40.8%;
	left: 11.6%;
	z-index:3;
	display:none;
}

#book {
	width: 9.45%;
	height:8.34%;
	left:85%;
	top:65.7%;
	position:absolute;
	z-index:3;
	display:none;
	background-image:url(../imgs/book.png);
	}
	
#glasses {
	width: 11.11%;
	height:7.23%;
	left:83%;
	top:73%;
	position:absolute;
	z-index:3;
	display:none;
	background-image:url(../imgs/glasses.png);
	}
	
#shoe {
	width: 14.17%;
	height:15.02%;
	left:56.2%;
	top:76%;
	position:absolute;
	z-index:3;
	display:none;
	background-image:url(../imgs/shoe.png);
	}
	
#resistor {
	width: 6.56%;
	height:5.70%;
	left:24%;
	top:41.8%;
	position:absolute;
	z-index:3;
	display:none;
	background-image:url(../imgs/transistor.png);
	}
	
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}
	