
@font-face {
    font-family: 'Hel';
    src: url('../fonts/helveticaneueltcom-bdcn.eot');
    src: url('../fonts/helveticaneueltcom-bdcn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltcom-bdcn.woff') format('woff'),
         url('../fonts/helveticaneueltcom-bdcn.ttf') format('truetype'),
         url('../fonts/helveticaneueltcom-bdcn.svg#helveticaneueltcom-bdcn') format('svg');
    font-weight: normal;
    font-style: normal;
}
