@charset "utf-8";
/* CSS Document */

.qTxt{
	position:relative;
	z-index:2;
	display:block;
	top: 38.5%;
	opacity:0;
	-webkit-opacity:0;
	text-align:center;
	font-size:30px; 
	}
	
.q {
	background-image:url(../imgs/qBG.png);
	width: 63.954%;
	height: 80.67%;
	position:relative;
	top: 4%;
	left: 22.023%;
	display:none;
	}

.qHelp {
	background-image:url(../imgs/help_box.png);
	width: 63.954%;
	height: 80.67%;
	position:relative;
	top: 4%;
	left: 22.023%;
	display:none;
	}
	
.qTitle{
 font-size: 20px;
    height: 5%;
    left: 4%;
    position: relative;
    top: 3%;
    width: 85%;
	}
	
.qQ{
    font-size: 13px;
    height: 12%;
    left: 4%;
    position: relative;
    top: 6%;
    width: 80%
	}
	
.qAns{
    height: 65%;
    left: 4%;
    position: relative;
    top: 12%;
    width: 90%;
	line-height: 350%;
	font-size:13px;
	z-index:4;
	
	}
	
.gHelp {
	background-color: transparent;
    height: 4%;
    position: absolute;
    right: 3%;
    top: 10%;
    width: 11%;
	}
	
.helpTxt {
	 height: 65%;
    left: 4%;
    position: relative;
    top: 11%;
    width: 90%;
	line-height: 300%;
	font-size:14px;
	}
	
#q1-a{
	
	width: 63.95%;
	height:80.67%;
	position:relative;
	top: 4%;
	left: 22.023%;
	display:none;
	background-image:url(../imgs/q1/q1.png);
	z-index:3;
	}
	
#q2-a{
	width: 58.97%;
	height:74.826%;
	position:relative;
	top: 4%;
	left: 22.023%;
	display:none;
	background-image:url(../imgs/q2/q2.png);
	z-index:3;
	}
	
#q3-a{
	width: 63.95%;
	height:80.67%;
	position:relative;
	top: 4%;
	left: 22.023%;
	display:none;
	background-image:url(../imgs/q3/q3.png);
	z-index:3;
	}
	
.q-units {
	position:absolute;
	width:15.32%;
	height:4.48%;
	z-index:6;
	cursor:url(../imgs/hand.png), auto;
	}
	
#q1-1 {
	background-image:url(../imgs/q1/ans1.png);
	left: 6%;
    top: 34%;
	}
	
#q1-2 {
	background-image:url(../imgs/q1/ans2.png);
	left: 9%;
    top: 39%;
	}
	
#q1-3 {
	background-image:url(../imgs/q1/ans3.png);
	left: 8%;
    top: 44%;
	}
#q1-4 {
	background-image:url(../imgs/q1/ans4.png);
	left: 9%;
    top: 49%;
	}
#q1-5 {
	background-image:url(../imgs/q1/ans5.png);
	left: 6%;
    top: 54%;
	}
#q1-6 {
	background-image:url(../imgs/q1/ans6.png);
	left: 8%;
    top: 59%;
	}
#q1-7 {
	background-image:url(../imgs/q1/ans7.png);
	left: 5%;
    top: 64%;
	}
	
#q1-8 {
	background-image:url(../imgs/q1/ans8.png);
	left: 9%;
    top: 69%;
	}
#q1-9 {
	background-image:url(../imgs/q1/ans9.png);
	left: 6%;
    top: 74%;
	}
#q1-10 {
	background-image:url(../imgs/q1/ans10.png);
	left: 9%;
    top: 79%;
	}
#q1-11 {
	background-image:url(../imgs/q1/ans11.png);
	left: 7%;
    top: 84%;
	}
.acQ{
	cursor:url(../imgs/hand.png), auto
	}

.q2-units {
	position:absolute;
	width:16.61%;
	height:4.83%;
	z-index:6;
	cursor:url(../imgs/hand.png), auto;
	}

#q2-1 {
	background-image:url(../imgs/q2/ans1.png);
	left: 7%;
    top: 36%;
	}
	
#q2-2 {
	background-image:url(../imgs/q2/ans2.png);
	left: 7%;
    top: 41%;
	}
	
#q2-3 {
	background-image:url(../imgs/q2/ans3.png);
	left: 7%;
    top: 46%;
	}
#q2-4 {
	background-image:url(../imgs/q2/ans4.png);
	left: 7%;
    top: 51%;
	}
#q2-5 {
	background-image:url(../imgs/q2/ans5.png);
	left: 7%;
    top: 56%;
	}
#q2-6 {
	background-image:url(../imgs/q2/ans6.png);
	left: 7%;
    top: 61%;
	}
#q2-7 {
	background-image:url(../imgs/q2/ans7.png);
	left: 7%;
    top: 66%;
	}
	
#q2-8 {
	background-image:url(../imgs/q2/ans8.png);
	left: 7%;
    top: 71%;
	}
#q2-9 {
	background-image:url(../imgs/q2/ans9.png);
	left: 7%;
    top: 76%;
	}
#q2-10 {
	background-image:url(../imgs/q2/ans10.png);
	left: 7%;
    top: 81%;
	}

