	
.styledRadio {
	float:			left;
	clear:			both;
	margin-top:		10px;
	padding-right:	5px;
	cursor: url(../imgs/cursor.png), auto;
	}
	
.styledCheckbox {
	float:			left;
	clear:			both;
	margin-bottom:	10px;
	}

