@charset "utf-8";
/* CSS Document */
#s4-continaer{
	background-image:url(../imgs/bg4.jpg);
	}
	
#greenDot2{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	z-index:3;
	display:none;
	-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
-webkit-background-size: 100% 100%; 
background-size: 100% 100%;
	}
	
#slide-obj{
	background-image:url(../imgs/obj-11.png);
	}
	
.obj {
	width: 54.24%;
	height: 65.37%;
	top:17.315%;
	left:22.88%;
	position:relative;
	text-align:center;
	display:none;
	}
	
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}
.blackOverlay{
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
	z-index:4;
	background-color:rgba(0,0,0,0.5);
	display:none;
	opacity:0;
	-webkit-opacity:0;
	}
