@charset "utf-8";
/* CSS Document */

#s3-continaer{
	/*background-image:url(../imgs/bg2.jpg);*/
	}
	
#greenDot2{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	z-index:3;
	display:none;
	-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
-webkit-background-size: 100% 100%; 
background-size: 100% 100%;
	}
	
#greenDot4{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 35%;
	left: 10.8%;
	z-index:3;
	-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
-webkit-background-size: 100% 100%; 
background-size: 100% 100%;
	}
	
#door-1{
	position:absolute;
	z-index:2;
	width: 4.37%;
	height:15.02%;
	top:44%;
	left:35%;
	background-image:url(../imgs/door-1.png);
	display:none;
	}
	
#door-2{
	position:absolute;
	z-index:2;
	width: 3.67%;
	height:13.63%;
	top:46%;
	left:67%;
	background-image:url(../imgs/door-2.png);
	display:none;
	}
	
#door-3{
	position:absolute;
	z-index:2;
	width: 2.72%;
	height:22.253%;
	top:44%;
	left:79%;
	background-image:url(../imgs/door-3.png);
	display:none;
	}
	
#door1-obj {
	background-image:url(../imgs/obj-8.png);
	}

#door2-obj {
	background-image:url(../imgs/obj-9.png);
	}

#door3-obj {
	background-image:url(../imgs/obj-10.png);
	}
	
.obj {
	width: 54.24%;
	height: 65.37%;
	top:17.315%;
	left:22.88%;
	position:relative;
	text-align:center;
	display:none;
	}
	
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}
.blackOverlay{
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
	z-index:4;
	background-color:rgba(0,0,0,0.5);
	display:none;
	opacity:0;
	-webkit-opacity:0;
	}
.obj-close{
	background-color:transparent; width:50px; height:30px; position:absolute; top:10px; right:2px;display:block;
	}