@charset "utf-8";
/* CSS Document */

	
#greenDot{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:15px;
	height:15px;
	top: 35%;
	left: 10.8%;
	z-index:3;
	display:none;
	-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
-webkit-background-size: 100% 100%; 
background-size: 100% 100%;
	}
	
.appear {
	-webkit-animation: bgAppear 10s linear 1 ; /* Saf5, Chrome */
	-moz-animation: bgAppear 10s linear 1; /* FF5+ */
	}
	
.appearTxt {
	-webkit-animation: appearAni 8s linear 1 ; /* Saf5, Chrome */
	-moz-animation: appearAni 8s linear 1; /* FF5+ */
	}
	
#greenDot{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 35%;
	left: 10.8%;
	z-index:3;
	display:none;
	}
	
#greenDot2{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 35%;
	left: 10.8%;
	z-index:3;
	display:none;
	}
	
#greenDot3{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 35%;
	left: 10.8%;
	z-index:3;
	display:none;
	}
#greenDot4{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 35%;
	left: 10.8%;
	z-index:3;
	display:none;
	}
	
#s2-continaer{
	background-image:url(../imgs/bg1.jpg);
	}
	
#car-1{
	background-image:url(../imgs/car-1.png);
	width: 10.373%;
	height:16.55%;
	position:absolute;
	top:78%;
	left:3%;
	display:none;
	z-index:3;
}

#car-2{
	background-image:url(../imgs/car-2.png);
	width: 9.27%;
	height:17.94%;
	position:absolute;
	top:59%;
	left:41%;
	display:none;
	z-index:3;
}

#car-3{
	background-image:url(../imgs/car-3.png);
	width: 11.11%;
	height:22.11%;
	position:absolute;
	top:73%;
	left:87%;
	display:none;
	z-index:3;
}

#car1-obj {
	background-image:url(../imgs/obj-1.png);
	}

#car2-obj {
	background-image:url(../imgs/obj-2.png);
	}

#car3-obj {
	background-image:url(../imgs/obj-3.png);
	}
#slide-obj{
	background-image:url(../imgs/obj-4.png);
	}
	
.obj {
	width: 54.24%;
	height: 65.37%;
	top:17.315%;
	left:22.88%;
	position:relative;
	text-align:center;
	display:none;
	}
	
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}
.blackOverlay{
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
	z-index:4;
	background-color:rgba(0,0,0,0.5);
	display:none;
	opacity:0;
	-webkit-opacity:0;
	}
.obj-close{
	background-color:transparent; width:50px; height:30px; position:absolute; top:10px; right:2px;display:block;
	}