@charset "utf-8";
/* CSS Document */
	

	

#greenDot1{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:15px;
	height:15px;
	top: 34.5%;
	left: 11.6%;
	z-index:3;
	display:none;
}

#greenDot2{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:15px;
	height:15px;
	top: 37.2%;
	left: 13%;
	z-index:3;
	display:none;
}

#greenDot3{	
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:15px;
	height:15px;
	top: 40.8%;
	left: 11.6%;
	z-index:3;
	display:none;
}

#door {
	width: 12.42%;
	height:18.479%;
	left:73.5%;
	top:31.4%;
	position:absolute;
	z-index:3;
	display:none;
	background-image:url(../imgs/door-over.png);
	}
	
#book {
	width: 12.34%;
	height:6.398%;
	left:30.4%;
	top:53%;
	position:absolute;
	z-index:3;
	display:none;
	background-image:url(../imgs/book-over.png);
	}
	
#radio {
	width: 12.598%;
	height:19.054%;
	left:19.2%;
	top:40%;
	position:absolute;
	z-index:3;
	display:none;
	background-image:url(../imgs/radio-over.png);
	}
	
#transmitter {
	width: 10.5%;
	height:7.232%;
	left:50.9%;
	top:48%;
	position:absolute;
	z-index:3;
	display:none;
	background-image:url(../imgs/transmittor-over.png);
	}
	
#door-obj {
	background-image:url(../imgs/obj-3-2.png);
	}

#book-obj {
	background-image:url(../imgs/obj-1-2.png);
	}

#radio-obj {
	background-image:url(../imgs/obj-4-2.png);
	}
	
#transmitter-obj {
	background-image:url(../imgs/obj-2-2.png);
	}
.obj {
	width: 54.24%;
	height: 65.37%;
	top:17.315%;
	left:22.88%;
	position:relative;
	text-align:center;
	display:none;
	}
	
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}
	
.blackOverlay{
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
	z-index:4;
	background-color:rgba(0,0,0,0.5);
	display:none;
	opacity:0;
	-webkit-opacity:0;
	}