@charset "utf-8";
/* CSS Document */
#s4-continaer{
	background-image:url(../imgs/bg4.jpg);
	}
	
#greenDot2{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	z-index:3;
	display:none;
	}