@charset "utf-8";
/* CSS Document */

	
#greenDot{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:15px;
	height:15px;
	top: 35%;
	left: 10.8%;
	z-index:3;
	display:none;
	}
	
.appear {
	-webkit-animation: bgAppear 10s linear 1 ; /* Saf5, Chrome */
	-moz-animation: bgAppear 10s linear 1; /* FF5+ */
	}
	
.appearTxt {
	-webkit-animation: appearAni 8s linear 1 ; /* Saf5, Chrome */
	-moz-animation: appearAni 8s linear 1; /* FF5+ */
	}
	
#halfGreenDot {
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:1.043%;
	top: 30.4%;
	left: 10.5%;
	z-index:3;
	display:none;
	background-position: 0% 81%;
	}
	
#s2-continaer{
	background-image:url(../imgs/bg1.jpg);
	}