@charset "utf-8";
/* CSS Document */
#y1{
	background-image:url(../imgs/y1.png);
	width: 2.45%;
	height:3.75%;
	top:67%;
	right: -3%;
	position:absolute;
	display:block;
	opacity:0;
	-webkit-opacity:0;
	}
	
#y2{
	background-image:url(../imgs/y2.png);
	width: 20.035%;
	height:13.91%;
	top:70%;
	right: 0%;
	position:absolute;
	display:block;
	opacity:0;
	-webkit-opacity:0;
	}
	
#dust {
	background-image:url(../imgs/dust.png);
	width: 17.67%;
	height:13.63%;
	top:70%;
	right: -17.67%;
	position:absolute;
	display:block;
	opacity:0;
	-webkit-opacity:0;
	}
#s3-continaer{
	/*background-image:url(../imgs/bg2.jpg);*/
	}
	
#greenDot2{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	z-index:3;
	display:none;
	}