@charset "utf-8";
/* CSS Document */

#s3-continaer{
	/*background-image:url(../imgs/bg2.jpg);*/
	}
#lab-1{
	background-image:url(../imgs/thing-1.png);
	width: 11.46%;
	height:49.51%;
	position:absolute;
	top:40%;
	left:88.4%;
	display:none;
	z-index:3;
}

#lab-2{
	background-image:url(../imgs/thing-2.png);
	width: 7.78%;
	height:8.62%;
	position:absolute;
	top:64.3%;
	left:58.5%;
	display:none;
	z-index:3;
}

#lab-3{
	background-image:url(../imgs/thing-3.png);
	width: 12.42%;
	height:10.15%;
	position:absolute;
	top:63.7%;
	left:42.8%;
	display:none;
	z-index:3;
}
#lab-4{
	background-image:url(../imgs/thing-4.png);
	width: 10.59%;
	height:26.28%;
	position:absolute;
	top:74%;
	left:0%;
	display:none;
	z-index:3;
}
	
#door1-obj {
	background-image:url(../imgs/obj-8.png);
	}

#door2-obj {
	background-image:url(../imgs/obj-9.png);
	}

#door3-obj {
	background-image:url(../imgs/obj-10.png);
	}
	
.obj {
	width: 54.24%;
	height: 65.37%;
	top:17.315%;
	left:22.88%;
	position:relative;
	text-align:center;
	display:none;
	}
	
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}
.blackOverlay{
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
	z-index:4;
	background-color:rgba(0,0,0,0.5);
	display:none;
	opacity:0;
	-webkit-opacity:0;
	}
.obj-close{
	background-color:transparent; width:50px; height:30px; position:absolute; top:10px; right:2px;display:block;
	}