@charset "utf-8";
/* CSS Document */
	
#greenDot{
	position:absolute;
	background-image:url(../imgs/greenDot.png);
	width:1.31%;
	height:2.086%;
	top: 35%;
	left: 10.8%;
	z-index:3;
	display:none;
	}
	
	
#s2-continaer{
	background-image:url(../imgs/bg1.jpg);
	}
	
#lab-1{
	background-image:url(../imgs/thing-1.png);
	width: 11.46%;
	height:49.51%;
	position:absolute;
	top:40%;
	left:88.4%;
	display:none;
	z-index:3;
}

#lab-2{
	background-image:url(../imgs/thing-2.png);
	width: 7.78%;
	height:8.62%;
	position:absolute;
	top:64.3%;
	left:58.5%;
	display:none;
	z-index:3;
}

#lab-3{
	background-image:url(../imgs/thing-3.png);
	width: 12.42%;
	height:10.15%;
	position:absolute;
	top:63.7%;
	left:42.8%;
	display:none;
	z-index:3;
}
#lab-4{
	background-image:url(../imgs/thing-4.png);
	width: 10.59%;
	height:26.28%;
	position:absolute;
	top:74%;
	left:0%;
	display:none;
	z-index:3;
}


#lab1-obj {
	background-image:url(../imgs/obj-1.png);
	}

#lab2-obj {
	background-image:url(../imgs/obj-3.png);
	}

#lab3-obj {
	background-image:url(../imgs/obj-4.png);
	}
#lab4-obj {
	background-image:url(../imgs/obj-2.png);
	}
	
#map-obj {
	background-image:url(../imgs/obj-5.png);
	}
	
#forest-obj {
	background-image:url(../imgs/obj-10.png);
	}
#scrub-obj {
	background-image:url(../imgs/obj-7.png);
	}
#rain-obj {
	background-image:url(../imgs/obj-6.png);
	}
#grass-obj {
	background-image:url(../imgs/obj-8.png);
	}
#warm-obj {
	background-image:url(../imgs/obj-11.png);
	}
#cold-obj {
	background-image:url(../imgs/obj-9.png);
	}
.obj {
	width: 54.24%;
	height: 65.37%;
	top:17.315%;
	left:22.88%;
	position:relative;
	text-align:center;
	display:none;
	}
	
.dontBlink {
	opacity:0;
	-webkit-opacity:0;
	}
.blackOverlay{
	width:100%;
	height:100%;
	position:relative;
	top:0;
	left:0;
	z-index:4;
	background-color:rgba(0,0,0,0.5);
	display:none;
	opacity:0;
	-webkit-opacity:0;
	}
.obj-close{
	background-color:transparent; width:50px; height:30px; position:absolute; top:10px; right:2px;display:block;
	}
	
.gola {
	position:absolute;
	background-image:url(../imgs/gola.png);
	width: 16.91%;
	height: 21.91%;
	}
#gola-1 {
	top:5.5%;
	left: 41.4%
	}
#gola-2 {
	top:20%;
	left: 12.9%;
	-moz-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	}
	
#gola-3 {
	-moz-transform: rotate(58deg);
	-webkit-transform: rotate(58deg);
    left: 13%;
    top: 59%;
	}
	
#gola-4 {
	left: 41.5%;
    top: 73%;
	}
	
#gola-5 {
	 -moz-transform: rotate(57deg);
	 -webkit-transform: rotate(57deg);
    left: 70.3%;
    top: 21%;
	}
	
#gola-6 {
	 -moz-transform: rotate(125deg);
	 -webkit-transform: rotate(125deg);
    left: 70.4%;
    top: 58.7%;
	}
	
.ufo {
	position:absolute;
	width: 8.53%;
	height: 7.45%; 
	background-image:url(../imgs/ufo.png);
	}
	
#f-1 {
	left: 39%;
    top: 41%;
	}
	
#f-2 {
	left: 52%;
    top: 77%;;
	}
#f-3 {
	 left: 7%;
    top: 36%;
	}
	
#s-1 {
	left: 22%;
    top: 44%;
	}
	
#s-2 {
	left: 48%;
    top: 26%;
	}
#s-3 {
	left: 80%;
    top: 76%;
	}
	
#g-1 {
	left: 55%;
    top: 77%;
	}
	
#g-2 {
	left: 30%;
	top: 60%;
	}
#g-3 {
	left: 79%;
    top: 56%;
	}
	
#r-1 {
	left: 32%;
    top: 80%;
	}
	
#r-2 {
	left: 25%;
    top: 67%;
	}
#r-3 {
	left: 75%;
    top: 85%;
	}

#w-1 {
	 left: 83%;
    top: 42%;
	}
	
#w-2 {
	left: 30%;
	top: 28%;
	}
#w-3 {
	left: 24%;
    top: 58%;
	}

#c-1 {
left: 20%;
    top: 79%;
	}
	
#c-2 {
	left: 30%;
    top: 37%;
	}
#c-3 {
	left: 69%;
    top: 18%;
	}